*{
    padding:0px;
    margin:0px;
}
body{
    width:10    0%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:45px;
}

header{
    width:100%;
    max-width: 800px;
    text-align: center;
}
header h1{
    color:#15af6c;
    padding-right:25px;
}
header form .search-container{
    margin-top:24px;
    margin-bottom:25px;
}
header form .search-container input{
    width:40%;
    border-radius:10px;
    height:30px;
    border:none;
    padding :0 20px;
    background-color: rgb(230, 228, 226);
}
.material-icons{
    position:relative;
    top:8px;
    right:30px;
}
.image-container{
    margin-block:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    gap: 20px;
}
.image-container img{
    width:280px;
    height:300px;
    object-fit:cover;
}
.image-container .imageDiv{
    position:relative;
}
.imageDiv .overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:0;
    background-color:rgba(2,2,2,0.6);
    transition: height 0.3s ease;
    display:flex;
    justify-content:center;
    align-items: center;
}

.imageDiv:hover .overlay{
    height:100%;
}
.imageDiv:hover .overlay h3 {
    display: block; 
}
.imageDiv .overlay h3{
    color:white;
    display:none;
    text-align:center;
    font-size:20px;
}
.loadmoreBtn{
    border:none;
    background-color: #15af6c;
    color:#fff;
    font-weight:600;
    border-radius: 15px;
    padding:8px 15px;
    font-size:20px;
    cursor:pointer;
}

main section{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 20px 0 50px 0;
}
